@import "mixins";
html,
body {
  height: 100%;
}
body {
  position: relative;
  min-width: 1024px;
  overflow: auto;
  @include body-typo;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Layout
.wrapper.-centered,
.wrapper.-start {
  position: relative;
  padding: 0;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.wrapper.-start {
  max-width: none;
  justify-content: flex-start;

  main.plato {
    width: 100%;
    max-width: none;

    > .container-fluid {
      max-width: 1440px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .page-title {
    margin-top: 10px;
  }
}

.sidebar {
  position: relative;
  flex-shrink: 1;
  z-index: 1000;
  display: block;
  margin: 0;
  width: auto;

  .sb-inner {
    width: 255px;
    position: relative;
    padding-bottom: 200px;

    .sb-footer {
      position: absolute;
      top: auto;
      bottom: 15px;
      left: 0;
      right: 0;
    }
  }

}

.wrapper.-fixmenu {
  display: block;

  .sidebar {
    display: block;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .sb-inner {
      padding-bottom: 120px;
    }

    .sb-footer {
      position: fixed;
      width: 255px;
      padding-bottom: 15px;
      bottom: 0;
    }
  }

  main.plato {
    margin-left: 255px;
  }
}

main.plato {
  position: relative;
  flex-shrink: 2;
  z-index: 1;
  display: block;
  width: auto;
  min-width: 769px;
  max-width: 1025px;
  padding: 0;
  margin: 0;

  .inwhite {
    display: block;
    margin: 0 0 15px 0;
    padding: 15px;
  }

  .row:last-of-type {

    .inwhite {
      margin-bottom: 15px;
    }
  }

  .row .inwhite .row:last-of-type {

    .inwhite {
      margin-bottom: 0;
    }
  }
}

main.plato {
  padding-top: 20px;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.25;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include font-size(24);
}
h2 {
  @include font-size(22);
}
h3, h4 {
  @include font-size(18);
}
h5, h6 {
  @include font-size(16);
  font-weight: bold;
}

p,
ul,
ol {
  @include paragraph;

  &:last-of-type {
    margin-bottom: 0;
  }
}

ul,
ol {

  ul,
  ol {
    margin-top: 0;
  }
}

.greyl {
  display: inline-block;
  width: auto;
  margin: 15px 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 5px 0;
    margin: 0 0 0 -3px;
    background-color: #e8e8e8;

    span {
      display: block;
      border-right: 1px solid grey;
      padding: 0 12px;
      margin: 0;
    }

    &:first-of-type {
      margin-left: 0;

      span {
        padding-left: 20px;

        &::before {
          content: '\2022';
          display: inline-block;
          position: relative;
          left: -9px;
          top: .36ex;
          line-height: .5;
          font-size: 24px;
        }

        &.-in {
          &::before {
            color: #17b66a;
          }
        }
        &.-out {
          &::before {
            color: #d0021b;
          }
        }
      }
    }

    &:last-of-type span {
      border-right: none;
    }
  }
}

.fs20 {
  @include font-size(20);

  p {
    @include font-size(20);
  }
}
.fs16 {
  @include font-size(16);

  p {
    @include font-size(16);
  }
}
.fs15 {
  @include font-size(15);

  p {
    @include font-size(15);
  }
}
.fs14 {
  @include font-size(14);

  p {
    @include font-size(14);
  }
}
.fs13 {
  @include font-size(13);

  p {
    @include font-size(13);
  }
}
.fs12 {
  @include font-size(12);

  p {
    @include font-size(12);
  }
}

// Buttons
.btn.-icon {
  position: relative;
  padding-right: 26px;

  .zmdi {
    position: absolute;
    top: 50%;
    right: 5px;
    @include font-size(20);
    line-height: .1;
    font-weight: bold;
    opacity: .4;
    transition: transform ease-in-out .1s;
  }

  &.selected,
  &[aria-expanded=true] {

    .zmdi-chevron-down {
      transform: rotate(180deg);
    }
  }

  &.btn-regular {

    .zmdi {
      opacity: .9;
    }
  }
}

.btn.-noborder {
  border-color: transparent;
}

.btn-input {
  @include btn-input;
}

.btn-flat {
  @include btn-flat;

  &.-nobg {
    background-color: transparent;
  }

  &:hover,
  &:focus {
    @include boxShadow(none);
  }
}

.btn-link {
  @include btn-link;
}

.btn-link .zmdi {
  display: inline-block;
  position: relative;
  top: .16ex;
  margin-left: .5ex;
}

*[class*=zmdi-long-arrow-] {
  display: inline-block;
  margin-left: .4ex;
  position: relative;
  top: .2ex;
}

// Labels
.label.labels {
  color: #293842;
  background-color: white;
  display: block;
  min-height: 1.9em;
  padding: 6px 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + .1em);
  text-align: center;

  &.-error {
    color: #d0021b;
  }

  &.-warning {
    color: #ffab3a;
  }

  &.-success {
    color: #17b66a;
  }
}

.draft {
  display: block;
  width: auto;
  position: absolute;
  bottom: .2em;
  right: 15px;

  cite {
    font-style: normal;
  }
}

.fboxes {
  display: flex;
  align-items: stretch;
  margin: 15px 0;
  padding: 0;

  &.-sbetween {
    justify-content: space-between;
  }

  .fbox {
    align-self: center;
  }
}

// Figure variants
.fig-widget {
  margin: 0;
  padding: 0;
}
figure.cardpic {
  background-color: #d8d8d8;

  img {
    padding: 3px;
  }

  .medal-caption {
    background: white url("../img/medal1.png") no-repeat 50% 0;
    display: block;
    height: 64px;
    margin: 0 0 5px 0;
    padding: 0;
  }

  ~ p {
    margin-bottom: 0;
  }
}

.figa-inline {
  display: inline-block;
  position: relative;
  width: 80%;
  height: auto;
  min-height: 6em;
  margin: 0 .25ex 0 0;
  padding: 0;
  background-color: #d8d8d8;

  img {
    width: 100%;
    height: auto;
  }

  & + .zmdi-star {
    position: absolute;
    top: 0;
    right: 5px;
  }
}

// Table flex
.table-flex {
  height: 100%;
  max-height: 20rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #e2e4e6;

  th, td {
    padding: 6px 3px;

    p {
      margin-bottom: 2px;
    }
  }

  thead {
    flex: 0 0 auto;
    width: calc(100% - 17px);
    font-weight: $font-weight-regular;
    background-color: #e2e4e6;
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    @include font-size(14);

    tr {
      width: 100%;
      border-bottom: 1px solid #e6e8ea;
      background-color: white;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: #f8f9fa;
      }
    }

    td {
      vertical-align: top;
    }
  }

  thead,
  tbody tr {
    display: table;
    table-layout: fixed;
  }
}
.table-flex.tf-card01 {
  thead th,
  tbody td {

    &:nth-child(1) {
      width: 14%;
    }
    &:nth-child(2) {
      width: 18%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 20%;
    }
    &:nth-child(5) {
      width: 17%;
    }
    &:nth-child(6) {
      width: 11%;
    }
  }
}