@import "mixins";
// Bootstrap rewriting
.row .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row .row *[class*='col-'],
.row .row .col {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.col-lg {
  @media only screen and (max-width: 1150px) {
    width: 100%;
    min-width: 790px;
    flex: none;

    &.-mt {
      margin-top: 10px;
    }
  }
}

.btn {
  @include btn;
}

.btn:focus,
.btn:hover,
button:focus {
  text-decoration: none;
  outline: none;
  @include boxShadow(none);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
p {
  margin-bottom: 10px;
}

.form-control {
  @include borderRadius(2px);
  padding: 5px 10px;
  height: 32px;
  @include font-size(14);

  &:focus {
    @include boxShadow(none);
  }
}

.form-group {
  margin: 0;
  padding: 0;
  @include font-size(14);
}

select.form-control:not([size]):not([multiple]) {
  height: calc(1.95rem + 2px);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding: 3px;
  @include borderRadius(2px);
  min-width: 6rem;
  right: 0;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1440px;
    width: 84%;
  }
}

.modal-content {
  @include borderRadius(0);
}

.close {
  opacity: .75;

  &:focus,
  &:hover {
    opacity: 1;
  }
}

.modal-footer>:not(:first-child) {
  margin-left: 0;
}
.modal-footer>:not(:last-child) {
  margin-right: 0;
}

hr,
.divider {

  &.-nomargin {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  &.-margin3 {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
.divider {
  display: block;
  height: 1px;
  background-color: #e5e5e5;
}

.card {
  @include boxShadow(0 2px 3px rgba(50, 50, 50, .15));
  @include borderRadius(4px);

  .card-header {
    @include group;
    padding: 15px 15px 7px 15px;

    &:first-child {
      @include borderRadius(4px 4px 0 0);
    }
  }

  .card-body {
    padding: 7px 15px;
  }

  .card-footer {
    padding: 7px 15px 15px 15px;

    &:last-child {
      @include borderRadius(0 0 4px 4px);
    }
  }
}

.tooltip {
  opacity: 1;
}