// Search form
.form-inline.searchbox {
  & {
    position: relative;
  }
  .form-control {
    display: block;
    width: 100%;
    padding-right: 40px;
  }
  .btn {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0 7px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    @include borderRadius(0 2px 2px 0);
    color: white;

    i {
      font-size: 130%;
      line-height: .5;
      position: relative;
      top: .14em;
    }
  }

  .-insbox {
    position: absolute;
    right: 6px;
    cursor: pointer;
    padding-top: 3px;
    font-size: 80%;
  }
}
.input-title {
  color: rgba(41, 56, 66, .4);
  display: block;
  @include font-size(14);
  line-height: 1;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: help;
}
.form-group {

  .form-control {
    max-height: 33px;
  }

  select.form-control {
    position: relative;

    option {
      padding: 4px;
    }
  }
}

.form-check {
  padding-left: 0;
  padding-right: 0;
}