$font-family: 'Manrope', 'Tahoma', sans-serif;
// 200 -thin, 300 -light, 400 -regular, 500 -medium, 600 -semibold, 700 -bold, 800 - extrabold

$bgBody: #ffffff;
$bgDivider: #dcdcdc;
$bgCard: #f1f1f1;
$bgCard-c: #e9fbdf;

$border-color: rgba(0, 0, 0, .18);

$txt-color-title: #2d262c;
$txt-color-title-light: #5a5a5a;
$txt-color: #333333;
$txt-color-reverse: #ffffff;
$txt-accent: #56ba28;
$txt-control: #cccbcb;
$color-accent-hard: #6ca715;
$color-accent-soft: #cbee66;
$color-accent-cs: #e4f4cf;
$color-accent-c: #f7ff98;
$color-accent-alt: rgba(114, 17, 210, .6);